<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <title>MAT装置 回転</title>
        <script src="static/jquery.min.js"></script>
        <link rel="stylesheet" href="static/bokeh-0.13.0.min.css" type="text/css" />
        <script type="text/javascript" src="static/bokeh-0.13.0.min.js"></script>
	</head>
	<body> 
        <p id="eid_date">MAT装置 回転</p> 
        <p>DBからの取得数を決めてください</p>
        <p>ボタン1でグラフ表示</p> 
        
            <p>number <input type = "number" id="input-text" name = "number" /></p>

            <input type="radio" name="trigger" value="0" checked>回転すべて
            <input type="radio" name="trigger" value="1">コンパクションローラー1
            <input type="radio" name="trigger" value="2">コンパクションローラー2
            <input type="radio" name="trigger" value="3">サーフェースローラー1<br>
            <input type="radio" name="trigger2" value="4" checked>閾値表示なし
            <input type="radio" name="trigger2" value="5">閾値表示<br>
            <input type="button" id="button" value="ボタン1" /><br>

            <a href="/">index</a><br>

         <div id="error"></div>
         <div id="data3"></div>
         <div id="data4"></div>
         <div id="data5"></div>
         <div id="data1"></div>
        <div id="data2"></div>

        <script>
            
                $(window).load(init());
                function init(){
                  $("#button").click(function() {
                    var textData = JSON.stringify({"t":$("#input-text").val(),
                    "t2":$('input:radio[name="trigger"]:checked').val(),"t3":$('input:radio[name="trigger2"]:checked').val()});
                    $.ajax({
                      type:'POST',
                      url:'/postpage2',
                      data:textData,
                      contentType:'application/json',
                      success:function(data) {
                        var result = JSON.parse(data.ResultSet).result;
                        var result2 = JSON.parse(data.ResultSet).result2;
                        var result3 = JSON.parse(data.ResultSet).result3;
                        var result4 = JSON.parse(data.ResultSet).result4;
                        var result5 = JSON.parse(data.ResultSet).result5;
                        var error = JSON.parse(data.ResultSet).error;
                        // console.log(data);
                        $("#data1").html(result);
                        $("#data2").html(result2);
                        $("#data3").html("現在のコンパクション同期率（0.1s周期）"+result3);
                        $("#data4").html("現在のコンパクション同期率（1s周期）"+result4);
                        $("#data5").html("同期率下限値"+result5);
                        $("#error").html(error);
                      }
                    });
                    return false;
                  });
                }          
                   </script>

	</body>
</html>
