<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>
    <a href="/past_page1">過去蛇行量</a>
    <a href="/past_page2">過去回転</a>
    <a href="/past_page3">過去流量</a>
    <a href="/past_page4">過去振動</a>
    <a href="/past_page5">過去振動推移</a>
    <a href="/">現在データ</a> 
    <a href="http://172.24.11.97">カメラ</a>
    
    <h2 id='test'>過去データ表示</h2>
    <p class="news-item">
        MAT装置のセンサデータの表示のサイトです。<br>
        本サイトはDBの値をもとにグラフ表示するようになっています。<br>
        過去の日付を選択し、何時間前のデータを表示させるか選択することでグラフ表示します。<br>
        当日のデータは現在データのサイトにアクセスしてください。<br>
        <!-- 各urlに関してです。<br>
        page1は蛇行量<br>
        page2は回転<br>
        page3は流量<br>
        page4は振動<br> -->
        <!-- page5、6は仮サイトです。<br> -->
        よろしくお願いします。<br>
        
    </p>
  </body>
</html>
