<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
        <title>MAT装置 振動推移</title>
        <script src="../static/jquery.min2.js"></script>
        <script src="static/jquery.min.js"></script>
        <link rel="stylesheet" href="static/bokeh-0.13.0.min.css" type="text/css" />
       
        <script type="text/javascript" src="static/bokeh-0.13.0.min.js"></script>
        	</head>
	<body> 
        <p id="eid_date">MAT装置 振動推移</p> 
        <p>確認したい日付を選択してください<br>
        8時～19時までのデータが閲覧可能、日はデータなし<br>
        ボタン1でグラフ表示</p><br> 
        
            <input type="text" id="input1" name="birth01" size="10">
            年
             <select id="input2" name="birth02" class="js-changeMonth" >      
            </select> 月
            <select id="input3" name="birth03" class="js-changeDay">            
            </select> 日
            <select id="input4" name="birth04" class="js-changeDay">            
            </select> 時<br>

            <input type="button" id="button" value="ボタン1" /><br>
            <a href="/past_index">過去データ</a>

            <div id="data1"></div>
            <div id="data2"></div>
            <div id="data3"></div>
            <div id="error"></div>
<script>
var Element = document.getElementById("input2");
for (var i = 1; i<= 12; i++) {
  var option = document.createElement("option");
  option.value = i;
  option.innerText = i;
  Element.appendChild(option);
}
var Element = document.getElementById("input3");
for (var i = 1; i<= 31; i++) {
  var option = document.createElement("option");
  option.value = i;
  option.innerText = i;
  Element.appendChild(option);
}
var Element = document.getElementById("input4");
for (var i = 1; i<= 23; i++) {
  var option = document.createElement("option");
  option.value = i;
  option.innerText = i;
  Element.appendChild(option);
}
        </script>
        <script>
            
                $(window).load(init());
                function init(){
                  $("#button").click(function() {
                    var textData = JSON.stringify({"t":$("#input1").val(),"t_2":$("#input2").val(),
            "t_3":$("#input3").val(),"t_4":$("#input4").val(),
            });
                    $.ajax({
                      type:'POST',
                      url:'/past_postpage5',
                      data:textData,
                      contentType:'application/json',
                      success:function(data) {
                        var result = JSON.parse(data.ResultSet).result;
                        var result2 = JSON.parse(data.ResultSet).result2;
                        var result3 = JSON.parse(data.ResultSet).result3;
                        var error = JSON.parse(data.ResultSet).error;
                        // console.log(data);
                        $("#data1").html(result);
                        $("#data2").html(result2);
                        $("#data3").html(result3);
                        $("#error").html(error);
                      }
                    });
                    return false;
                  });
                }          
                   </script>
         
	</body>
</html>